doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="assets/img/favicon.ico", rel="shortcut icon")
    link(rel="stylesheet", type="text/css", href="css/libs.min.css")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')
    link(href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous")
    title Adel
  body
    #contentWrapper.content-wrapper
      #pageWrapper.page-wrapper
        include _header
        block content

      #footerWrapper.footer-wrapper
        include _footer
    script(src="js/libs.min.js")
    script(src="js/common.js")