append content
    -
        var links = [
        'home.html'
        ]
    .box(style="color: #333")
        ul
            each item in links
                li
                    a(href=item)=item